# recurse through the hierarchy

Recurse through trees to find differentially expressed genes between children nodes 

Input:
- subtree: n cells by k hierarchy matrix that indicates the hierarchy
- expression: the count matrix of the m genes by n cells

Output:
- a long form of the matrix that contains the ID for the expressed gene set and genes that are overexpressed

Psueudocode:

```
tree matrix
over(membership,expression) {
    return(symbols[FC>1.5 & Q < 0.1])
}

get.node.genes <- function(tree,expression,k=1) {
    
    membership = tree[,k] == unique(tree[,k])[1]
    over1 = over (membership,expression)
    subtree1_id = paste(tree[membership,seq(k)][1,],collapse='_')
    over2 = over (!membership,expression)

    paste(tree[membership,seq(k+1)][1,],collapse='_')
    subtree1 = data.frame(id = subtree1_id,genes = get.node.genes(tree[membership,],k+1))

    combined = rbind(subtree1,subtree2)
}
```

In [145]:
source('../../R/gene_signature.R')

In [67]:
example_hierarchy = cbind(c(rep(1, 9), rep(2, 11)), 
                          c(rep(1, 4), rep(2, 5), rep(1, 3), rep(2, 8)))

In [117]:
n_cells = 20
n_genes = 50
example_expression = matrix(sample(1:100, n_genes * n_cells, replace=T), nrow=n_genes)
rownames(example_expression) = paste0('gene', seq(nrow(example_expression)))

In [118]:
head(example_expression)

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
gene1 31   52   90   82   46   19   96    3   34   23    97    55    44
gene2  3   72   14   17   89   82   50   48   33   35    12    61    87
gene3 70   16   39   91   28   59    5   22   73   85    98    39    13
gene4 24   13   68   17   63   34   69   34   92   46    73    29    26
gene5 90   42   99   40   43   43   43   40   58    6    88     9    63
gene6 18   52   97   53   32    7   36   23   83   16    85    18    33
      [,14] [,15] [,16] [,17] [,18] [,19] [,20]
gene1 18     8    16     4    98     7    15
gene2 47    73    12    49    72    35    88
gene3 76    47    23    44    50    58    35
gene4 33    31    11    90    38    21    30
gene5 55    92    75     3    64    41    28
gene6 66    70    77    32    84    26    15

In [120]:
res = get.node.genes(data.matrix(example_hierarchy), example_expression, 0.99, 0)

[1] "1"
[1] "2"
[1] "1_1"
[1] "1_2"
[1] "2_1"
[1] "2_2"

# Input assumption: a binary rooted tree

## Test case 1:
        x
       / \
      x   x
     /  \  \ 
    x    \  \
   / \    \  \ 
  1   2    3  4
  
The data matrix corresponding to this situation will be

 k 2 3 4
1  1 1 1
2  1 1 2
3  1 2 3
4  2 3 4

Therefore, on each level, there will only be a one comparison. And write the differentially expression data into the data matrix.

A iterating algorithm will be good for this situation. Instead of recursing through the tree. The iternal node will be encoded by

In [166]:
test_hierarchy = matrix(c(1, 1, 1, 2, 
                          1, 1, 2, 3,
                          1, 2, 3, 4), nrow=4, byrow=T)

In [169]:
rownames(test_hierarchy) = paste0('c', seq(nrow(test_hierarchy)))
colnames(test_hierarchy) = paste0('k', seq(ncol(test_hierarchy)))
test_hierarchy

   k1 k2 k3
c1 1  1  1
c2 2  1  1
c3 2  3  1
c4 2  3  4

In [174]:
k = ncol(test_hierarchy)

In [171]:
n_genes = 50
n_cells = 4
test_expression = matrix(sample(1:100, n_cells * n_genes, replace=T),
                        nrow=n_genes)

In [173]:
rownames(test_expression) = paste0('gene', seq(nrow(test_expression)))
colnames(test_expression) = paste0('c', seq(ncol(test_expression)))
head(test_expression)

      c1 c2 c3 c4
gene1 50 31 86 67
gene2 76 30  5 91
gene3 65 15 75 95
gene4 85 96 46 12
gene5 67 40 93 26
gene6 92 24 82  7

In [ ]:
for (i in seq(k)) {
    if (i == 1) {
        membership_k = test_hierarchy[,k]
        OverExpressedGenes(membership_k == unique(membership_k)[1],
                           test_)
    }
}

## Test on real dataset

In [ ]:
t3.hierarchy.data = read.table('../../data/treeHierarchy/t3.scaledexpression.cutree.csv',
                    row.names=1)

In [162]:
hierarchy = t3.hierarchy.data[,c('Two', 'Four', 'Eight', 'Sixteen')]
head(hierarchy)

                   Two Four Eight Sixteen
AAACCTGGTAAATACG.1 1   1    1     1
AAACCTGGTGTGCCTG.1 1   2    2     2
AAACCTGTCAGCTCTC.1 1   3    3     3
AAACGGGAGGGCTTGA.1 1   3    3     4
AAACGGGAGTATCGAA.1 1   3    3     3
AAACGGGCAGTTCCCT.1 1   1    1     5